body {

    background-color: black;
    color: white;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /* disable touch panning/zooming */
    -ms-touch-action: none;
    touch-action: none;

    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
}

/* #screen {
  margin: 0 auto;
  width: 900px;
  height: 900px;
} */

#screen canvas {
    margin: auto;
    /* Hide the gap for font descenders. */
    display: block;
}
