body {
  background-color: black;
  color: white;

  /* Allow mouse dragging. */
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* disable touch panning/zooming */
  -ms-touch-action: none;
  touch-action: none;

  /* Allow canvas to hit the edges of the browser viewport. */
  margin: 0;
}

#screen canvas {
  margin: auto;
  /* Hide the gap for font descenders. */
  display: block;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

#welcome {
  border: 1px solid #707070;
  background: white;
  color: #707070;
  font-family: sans-serif;
  padding: 40px;
  width: 50vw;
  margin: 0 auto;
}
#welcome h1 {
  font-size: 40px;
  line-height: 57px;
  margin: 0;
}
#welcome p {
  font-size: 28px;
  line-height: 34px;
  margin: 0 0 100px 0;
}
#welcome label {
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;  
}
#welcome input {
  margin: 20px 0 0 0;
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
  width: 100%;
  padding: 4px 12px;
  color: #707070;
  box-sizing: border-box;
}
#welcome .button-wrapper {
  width: 100%;
  margin: 100px 0 0 0;
  display: flex;
  justify-content: center;
}
#welcome button {
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
  padding: 4px 12px;
  color: #707070;
  box-sizing: border-box;
}

.name-label {
  font-family: helvetica, sans-serif;
  transform: translate(-50%);
  background: white;
  padding: 4px 6px;
  border-radius: 3px;
  color: #333;
}
